<center>
<hr>
<h1>Introduzione a Python</h1>
<h2>Engim - Tecnico - anno 2021/22</h2>
<h4>Livio Bioglio livio.bioglio@unito.it </h4>
<h3>Parte 1</h3>
<hr>
</center>

## Python: sintassi e tipi 

Sui Jupyter Notebook possiamo eseguire celle con **Markdown** o **codice in Python**.

In [3]:
! python -V

Python 3.9.10

## Visualizzare messaggi

Usare `print()` per visualizzare messaggi all'interno di uno script.

Il testo può essere composto con l'operatore + o con l'operatore %

In [2]:
print('Hello World!') # uso apici ' ' o " " per definire una stringa

Hello World!

In [3]:
pi = 3.14159265
pi

3.14159265

In [1]:
nome = 'Livio' 
print(nome)

Livio

In [2]:
saluto = 'Ciao, ' +  nome + '!'
print(saluto)

Ciao, Livio!

In [3]:
# TypeError: must be str, not int
#'ciao' + 3
'ciao' + str(3)

'ciao3'

In [7]:
'Ciao, %s!' %nome

'Ciao, Livio!'

In [8]:
nome = 'Guido van Rossum'
language = 'Python'
print("In the %s community, %s is known as a \"Benevolent Dictator For Life\" (BDFL)." %(language, nome))

In the Python community, Guido van Rossum is known as a "Benevolent Dictator For Life" (BDFL).

In [ ]:
planet = 'Jupiter'
moons = 69
scientist = 'Galileo Galilei'
year = 1610

print("%s has at least %d moons, including the four large Galilean moons discovered by %s in %d." 
      %(planet,moons,scientist,year))

:

In [1]:
pi = 3.14159265
print('Il pi greco vale %.3f' %pi)

Il pi greco vale 3.142

In [11]:
word = 'Jupiter'
wl = len(word)

print("%s è una parola di %d caratteri." 
      %(word,wl))

Jupiter è una parola di 7 caratteri.

## Funzioni matematiche

Le funzioni matematiche standard sono contenute nel modulo `math`: questo modulo deve essere **importato** per poter usae queste funzioni

In [12]:
#non funziona!
print(exp(2))
print(log(2))

NameError: name 'exp' is not defined

In [13]:
from math import exp, log
print(exp(2))
print(log(2))

7.38905609893065
0.6931471805599453

Dal modulo `math`si possono impotre anche costanti, come $\pi$ o $e$

In [14]:
from math import pi, e
print(e**2)
print(log(e))
print(pi)

7.3890560989306495
1.0
3.141592653589793

È possible importare il modulo col poprio nome...

In [15]:
import math

print(math.e)
print(math.pi)

2.718281828459045
3.141592653589793

.. o rinominare il modulo, attraverso la parola chiave `as`

In [16]:
import math as m

print(m.pi)
print(m.cos(2*m.pi))

3.141592653589793
1.0

## Strutture dati

### Liste

In [17]:
my_first_list = ["dog", 3.14, "cat", 2 + 3j]
print(len(my_first_list)) #length of the list

4

In [18]:
#print(my_first_list[0]) #select one element
#print(my_first_list[2])
#print(my_first_list[1:3:1]) #select a slice: start, stop, step
#print(my_first_list[2:3]) 
print(my_first_list[::+3])
print(my_first_list[-2][0:2])
#print(my_first_list[-1:-9:-1]) 
#print(my_first_list[::-1])

['dog', (2+3j)]
ca

In [19]:
#print(my_first_list * 3) #concatenate the list with itself a number of times
#print("ciao "*3)
print(4*[1,2,3])

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
other_list = ["Vero", "Laura"]
print(my_first_list + other_list) #concatenate two lists

['dog', 3.14, 'cat', (2+3j), 'Vero', 'Laura']

In [21]:
my_first_list[2:4] = ["free", "will"]
my_first_list[0] = "horse" #you can modify a list: lists are MUTABLE
print(my_first_list)

['horse', 3.14, 'free', 'will']

Funzione `Append`

In [22]:
my_first_list.append("last")
print(my_first_list)
print(len(my_first_list))

['horse', 3.14, 'free', 'will', 'last']
5

In [23]:
#print(my_first_list)
#del my_first_list[0] 
#print(my_first_list)
print(my_first_list[:])
#my_first_list.insert(2, "good question")
#print(my_first_list)

['horse', 3.14, 'free', 'will', 'last']

In [24]:
ind = my_first_list.index("cat")
del my_first_list[ind]

ValueError: 'cat' is not in list

### Tuple

Le tuple sono simili alle liste, ma immutabili

In [25]:
a = 8
my_first_tuple = ("dog", a, "cat", "2 + 3j")
a = 10
print(my_first_tuple[0])
#print(my_first_tuple[2:3])

dog

In [26]:
my_first_tuple[0] = 2 #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [27]:
print(my_first_tuple * 3)

('dog', 8, 'cat', '2 + 3j', 'dog', 8, 'cat', '2 + 3j', 'dog', 8, 'cat', '2 + 3j')

In [28]:
other_tuple = ("Vero", "Laura")
print(my_first_tuple + other_tuple) #concatenate two tuples

('dog', 8, 'cat', '2 + 3j', 'Vero', 'Laura')

### Dizionari

In [29]:
my_first_dict = {"Anna":1986, "Giorgia": 1993, "Aldo": 1991, "Luca": 1980}

In [30]:
print(my_first_dict["Anna"])

1986

In [31]:
#views on keys, values, items
print(my_first_dict.keys())
print(my_first_dict.values())
print(my_first_dict.items())
#if you want a list...you have to use function 'list'
print(list(my_first_dict.items()))

dict_keys(['Anna', 'Giorgia', 'Aldo', 'Luca'])
dict_values([1986, 1993, 1991, 1980])
dict_items([('Anna', 1986), ('Giorgia', 1993), ('Aldo', 1991), ('Luca', 1980)])
[('Anna', 1986), ('Giorgia', 1993), ('Aldo', 1991), ('Luca', 1980)]

In [32]:
my_first_dict["Roberta"] = 1991 #adding a new item
print(my_first_dict)

{'Anna': 1986, 'Giorgia': 1993, 'Aldo': 1991, 'Luca': 1980, 'Roberta': 1991}

In [33]:
del my_first_dict["Anna"] #deleting an item from the dictionary
print(my_first_dict)

{'Giorgia': 1993, 'Aldo': 1991, 'Luca': 1980, 'Roberta': 1991}

### Insiemi

In [2]:
my_first_set = {"John", "Sandro", "Luca", "Michele"}
my_second_set = {"Sandro", "Marcello", "Giovanni", "Michele", "Jacopo"}

In [35]:
my_first_set.add("Aldo")
print(my_first_set)
my_first_set.update(["Giorgia", "Lara"])
print(my_first_set)
my_first_set.remove("Giorgia")
print(my_first_set)

{'Sandro', 'Luca', 'John', 'Michele', 'Aldo'}
{'Sandro', 'Giorgia', 'Luca', 'John', 'Lara', 'Michele', 'Aldo'}
{'Sandro', 'Luca', 'John', 'Lara', 'Michele', 'Aldo'}

Intersezione

In [36]:
print(my_first_set & my_second_set)

{'Michele', 'Sandro'}

Unione

In [37]:
print(my_first_set | my_second_set)

{'Sandro', 'Giovanni', 'Jacopo', 'Marcello', 'Luca', 'John', 'Lara', 'Michele', 'Aldo'}

Differenza

In [38]:
print(my_first_set - my_second_set)

{'Luca', 'John', 'Aldo', 'Lara'}

Cardinalità (numero di elementi)

In [39]:
print(len(my_first_set))

6

### Copia di strutture dati

Esempio con liste

In [40]:
a = ["a", "b", "c", "d", "e"]
print(a)
b = a
b[2] = "k"
print(a)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'k', 'd', 'e']

Esempio con dizionari

In [41]:
d = {"a":1, "b": 2, "c":3}
print(d)
d2 = d
d2["d"]= 4
print(d)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Usando l'operatore "=" la nuova vaiabile fa riferimento allo stesso oggetto dell'altra variabile: pertanto, apportare delle modifiche alla seconda variabile cambierà anche il contenuto della prima varabile, perché sono lo stesso contenuto con due nomi differenti!

Come evitare il problema - liste

In [42]:
a = ["a", "b", "c", "d", "e"]
print(a)
print('----------------')

b = a[:] # <-- HERE!
b[2] = "k"
print(a)
print(b)

print('----------------')

c = list(a) # <-- HERE!
c[2] = "k"
print(a)
print(c)

['a', 'b', 'c', 'd', 'e']
----------------
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'k', 'd', 'e']
----------------
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'k', 'd', 'e']

Come evitare il problema - dizionari

In [43]:
d = {"a":1, "b": 2, "c":3}
print(d)
print('----------------')


d2 = dict(d) # <-- HERE!
d2["d"]= 4
print(d)
print(d2)

{'a': 1, 'b': 2, 'c': 3}
----------------
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Esercizi

### Esercizio 1
salva nome, cognome ed età in 3 vaiabili, ed usale per comporre una stringa di testo

In [9]:
nome = 'pietro'
cognome = 'delfino'
eta = 20
print('ciao mi chiamo ' + nome + ' ' + cognome + 'ed ho ' + str(eta) + ' anni') 
print("mi chiamo %s %s ed ho %d anni" %(nome,cognome,eta))

ciao mi chiamo pietro delfinoed ho 20 anni
mi chiamo pietro delfino ed ho 20 anni

### Esercizio 2

In [44]:
#Utilizziamo le seguenti liste
l1 = [1.2, 2.3, 3.4, 4.5]
l2 = ["a", "b", "c", "d"]
l3 = [3, 6, 2, 9, 8]

In [12]:
#stampa la concatenazione tra l1 e l2, e poi la concatenazione tra l1 e l3
l1 = [1.2, 2.3, 3.4, 4.5]
l2 = ["a", "b", "c", "d"]
l3 = [3, 6, 2, 9, 8]
print(l1 + l2)

[1.2, 2.3, 3.4, 4.5, 'a', 'b', 'c', 'd']

In [13]:
#stampa il prodotto degli elementi 0 e 3 di l3
print(l3[0]+l3[3])

12

In [47]:
#stampa il risultato delle operazioni: l1*3, l2*3 e l3*3

print(l1*3)

In [14]:
#stampa la lista degli ultimi 3 elementi di l3
print (l3[-3])

2

### Esercizio 3

In [16]:
#Crea un dizionario "birth" con i seguenti dati:
#"Paolo" -> 1986
#"Lucetta" -> 1995
#"Robi" -> 2001
#"Tonio" -> 1975

miodizionario= {"Paolo":1986,
"Lucetta":1995,
"Robi":2001,
"Tonio":1975}
print(miodizionario)

{'Paolo': 1986, 'Lucetta': 1995, 'Robi': 2001, 'Tonio': 1975}

In [53]:
#Inserisci un nuovo valore: "Serena": 2001
miodizionario["serena"] = 2001

In [54]:
#Rimuovi "Lucetta"
del miodizionario["serena"]

In [55]:
#Modifica il valore di Tonio in 1965
miodizionario["tonio"] = 1965

In [18]:
#Stampa tutti gli elementi del dzionario
print(list(miodizionario.items()))

[('Paolo', 1986), ('Lucetta', 1995), ('Robi', 2001), ('Tonio', 1975)]

### Esercizio 4

In [57]:
#Crea un dizionario che mappa 2 valori (anno di nascita e mese) ad una lista di persone

#y        m       ->  people
#1986     12      ->  ["Tommy", "Luca", "Sveva"]
#1999     5       ->  ["Jessica"]
#1970     1       ->  ["Alessia"]
#2005     11      ->  []

In [58]:
#Aggiungi questi dati al dizionario
#Marina was born in May 1999
#Giulia in September 2004
#Marco in November 2005